<div class="signin-div" *ngIf="!loader">
  <div class="container">
    <div class="row">
      <div class="col-md-6 logo-div">
        <img src="../../../../../assets/img/Logo.png" class="logo">
        <h1 class="logo-heading">Bug Tracker</h1>
      </div>
      <div class="col-md-6 form-div">
        <h2>Admin Sign In</h2>
        <div class="input-div">
          <label for="email">Username*</label>
          <input type="email" name="email" class="email" placeholder="Enter your given email id" autocomplete="off">
          <label for="password">Password*</label>
          <input type="password" name="password" class="password" placeholder="Password">
          <div class="radio-div">
            <mat-radio-group class="radio" [(ngModel)]="userType">
              <mat-radio-button value="admin">Admin</mat-radio-button>
              <mat-radio-button value="user">User</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="signin-btn">
          <button class="button-17" role="button" (click)="signin()">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="loader;">
  <app-loader></app-loader>
</ng-container>