<div class="app-layout">
  <div class="sidenav">
    <app-sidenav-bugtracker></app-sidenav-bugtracker>
  </div>
  <div class="main-content">
    <app-navbar-bugtracker></app-navbar-bugtracker>
    <div class="dashboard-div">
      <div class="table-div">
        <div class="container">
          <div class="row">
            <div class="col-md-6 add-div"></div>
            <div class="col-md-6 search-div">
              <!-- <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" />
              </mat-form-field> -->
            </div>
          </div>
          <div class="table-wrapper">
            <div class="mat-elevation-z8">

              <mat-table [dataSource]="dataSource" matSort style="table-layout: fixed;">
                <ng-container matColumnDef="bugId">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Bug Id</mat-header-cell>
                  <mat-cell [ngClass]="{'closed': checkClosed(element.status)}" *matCellDef="let element"><a
                      style="color: red; cursor: pointer;"
                      (click)="redirectToBugsInfo(element.token)">{{element.bugId}}</a></mat-cell>
                </ng-container>

                <ng-container matColumnDef="bugName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px;"> Bug Name </mat-header-cell>
                  <mat-cell [ngClass]="{'closed': checkClosed(element.status)}" *matCellDef="let element"
                    style="width: 100px;"> {{element.bugName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="project">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Project </mat-header-cell>
                  <mat-cell [ngClass]="{'closed': checkClosed(element.status)}"
                    *matCellDef="let element">{{element.project}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="reporter">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Reporter </mat-header-cell>
                  <mat-cell [ngClass]="{'closed': checkClosed(element.status)}"
                    *matCellDef="let element">{{element.reporter}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="createdAt">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Created At </mat-header-cell>
                  <mat-cell [ngClass]="{'closed': checkClosed(element.status)}"
                    *matCellDef="let element">{{element.createdAt}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="assignee">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Assignee </mat-header-cell>
                  <mat-cell [ngClass]="{'closed': checkClosed(element.status)}"
                    *matCellDef="let element">{{element.assignee}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dueDate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </mat-header-cell>
                  <mat-cell [ngClass]="{'closed': checkClosed(element.status)}"
                    *matCellDef="let element">{{element.dueDate}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="priority">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Severity </mat-header-cell>
                  <mat-cell [ngClass]="{'closed': checkClosed(element.status)}"
                    *matCellDef="let element">{{element.priority}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                  <mat-cell [ngClass]="{'closed': checkClosed(element.status)}" *matCellDef="let element">
                    {{element.status}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                <div class="mat-row" *matNoDataRow>
                  <div class="mat-cell">No data</div>
                </div>
              </mat-table>

              <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="onPageChanged($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
