<div class="main-div">
  <div class="container">
    <div class="row">
      <div class="col-md-6 content-div">
        <h1 class="content-h1">Welcome</h1>
        <p class="content-p">to <span class="content-span">Bug Tracker</span></p>
        <div class="btn-div">
          <button type="button" class="button-33 signup" role="button" routerLink="/bugtracker/signup">SIGN
            UP</button>
          <button type="button" class="button-33 signin" role="button" routerLink="/bugtracker/signin">SIGN
            IN</button>
        </div>
        <p class="admin">If you are an admin page user <a routerLink="/admin/signin">Click me!</a></p>
      </div>
      <div class="col-md-6 logo-div">
        <img src="../../../assets/img/Logo.png" class="img-logo">
        <h1 class="logo-heading">Bug Tracker</h1>
      </div>
    </div>
  </div>
</div>