<div class="signup-div">
  <div class="container">
    <div class="row">
      <div class="col-md-6 logo-div">
        <img src="../../../../../assets/img/Logo.png" class="logo">
        <h1 class="logo-heading">Bug Tracker</h1>
      </div>
      <div class="col-md-6 form-div">
        <h2>Sign Up</h2>
        <div class="input-div">
          <label for="name">Contact Name*</label>
          <input type="text" name="name" class="contact_name" autocomplete="off">
          <label for="company_name">Company Name*</label>
          <input type="text" name="company name" class="company_name" autocomplete="off">
          <label for="company_name">Company Surname*</label>
          <input type="text" name="company surname" class="company_surname" autocomplete="off">
          <label for="mobile">Contact Number*</label>
          <input type="text" name="mobile" class="mobile" autocomplete="off">
          <label for="email">Email*</label>
          <input type="email" name="email" class="email" autocomplete="off">
          <label for="password">Password*</label>
          <input type="password" name="password" class="password">
        </div>
        <div class="signup-btn">
          <button class="button-17" role="button" (click)="signup()">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>