<div class="app-layout">
  <div class="sidenav">
    <app-sidenav-bugtracker></app-sidenav-bugtracker>
  </div>
  <div class="main-content">
    <app-navbar-bugtracker></app-navbar-bugtracker>
    <div class="content-div">
      <div class="table-div">
        <div class="container">
          <div class="row">
            <div class="col-md-6 add-div">
              <button type="button" [disabled]="checkUser()" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#addUserModal">Add
                User</button>
              <!-- Modal -->
              <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="addUserModalLabel">Add User</h1>
                    </div>
                    <div class="modal-body">
                      <form [formGroup]="formData" class="add-user-form">
                        <mat-form-field appearance="fill">
                          <mat-label>Name</mat-label>
                          <input type="text" class="name" formControlName="name" matInput required>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>Role</mat-label>
                          <select matNativeControl required formControlName="role">
                            <option value="">Select the role</option>
                            <option *ngIf="!checkManager()" value="manager">Manager</option>
                            <option value="user">User</option>
                          </select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>Email</mat-label>
                          <input type="text" class="email" formControlName="email" matInput required>
                        </mat-form-field>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="closeModal()">Close</button>
                      <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                        (click)="addUser()">Add</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 search-div">
              <!-- <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" />
              </mat-form-field> -->
            </div>
          </div>
          <div class="table-wrapper">
            <mat-tab-group>
              <!-- Admin -->
              <mat-tab label="Admin">
                <div class="mat-elevation-z8 admin-table">
                  <mat-table [dataSource]="adminDataSource" matSort>
                    <ng-container matColumnDef="sno">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> S.No</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.sno}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="email">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.email}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="bugTrackerEmail">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> BugTracker Email </mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.bugTrackerEmail}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.status}} </mat-cell>
                    </ng-container>

                    <!-- <ng-container matColumnDef="action">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                          <i class="fa fa-ellipsis-v"></i>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item
                            (click)="onStatusChange(element.status === 'Active' ? 'Inactive' : 'Active', element.token)">
                            {{ element.status === 'Active' ? 'Deactivate' : 'Activate' }}
                          </button>
                        </mat-menu>
                      </mat-cell>
                    </ng-container> -->

                    <mat-header-row *matHeaderRowDef="adminDisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: adminDisplayedColumns;"></mat-row>

                    <div class="mat-row" *matNoDataRow>
                      <div class="mat-cell">No data</div>
                    </div>

                  </mat-table>
                  <mat-paginator [length]="adminTotalItems" [pageSize]="adminPageSize"
                    [pageSizeOptions]="[5, 10, 25, 100]" (page)="onAdminPageChanged($event)">
                  </mat-paginator>
                </div>
              </mat-tab>
              <!-- Manager -->
              <mat-tab label="Manager">
                <div class="mat-elevation-z8 user-table">
                  <mat-table [dataSource]="managerDataSource" matSort>
                    <ng-container matColumnDef="sno">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> S.No</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.sno}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="email">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="bugTrackerEmail">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> BugTracker Email </mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.bugTrackerEmail}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.status}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <button [disabled]="checkManageTabAction()" mat-icon-button [matMenuTriggerFor]="menu">
                          <i class="fa fa-ellipsis-v"></i>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item (click)="deleteManager(element.token)">Delete
                          </button>
                        </mat-menu>
                      </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="managerDisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: managerDisplayedColumns;"></mat-row>

                    <div class="mat-row" *matNoDataRow>
                      <div class="mat-cell">No data</div>
                    </div>
                  </mat-table>
                  <mat-paginator [length]="managerTotalItems" [pageSize]="managerPageSize"
                    [pageSizeOptions]="[5, 10, 25, 100]" (page)="onManagerPageChanged($event)">
                  </mat-paginator>
                </div>
              </mat-tab>
              <!-- User -->
              <mat-tab label="User">
                <div class="mat-elevation-z8 user-table">
                  <mat-table [dataSource]="userDataSource" matSort>
                    <ng-container matColumnDef="sno">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> S.No</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.sno}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="email">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="bugTrackerEmail">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> BugTracker Email </mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.bugTrackerEmail}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.status}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <button [disabled]="checkUser()" mat-icon-button [matMenuTriggerFor]="menu">
                          <i class="fa fa-ellipsis-v"></i>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item (click)="deleteUser(element.token)">Delete
                          </button>
                        </mat-menu>
                      </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="userDisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: userDisplayedColumns;"></mat-row>

                    <div class="mat-row" *matNoDataRow>
                      <div class="mat-cell">No data</div>
                    </div>
                  </mat-table>
                  <mat-paginator [length]="userTotalItems" [pageSize]="userPageSize"
                    [pageSizeOptions]="[5, 10, 25, 100]" (page)="onUserPageChanged($event)">
                  </mat-paginator>
                </div>
              </mat-tab>
            </mat-tab-group>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>