/* Set global line-height and reset margin/padding */
html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  height: 100%;
  width: 100%;
}

/* Apply custom styles to Material components globally */
h5,
h4,
h3,
h2,
h1,
p {
  line-height: 1 !important;
  /* Override Material's default styles */
}

/* Ensure buttons and other elements inherit proper line-height */
button,
p,
span,
h5,
h4,
h3,
h2,
h1 {
  line-height: inherit;
}

.cdk-overlay-container {
  z-index: 1050 !important;
  /* Bootstrap modals are at 1040 */
}